CompileFlags:
  Remove: 
    - -mapcs
    - -mno-direct-extern-access
    - -fconserve-stack
    - -fno-allow-store-data-races
    - -mfunction-return=thunk-extern
    - -mindirect-branch-cs-prefix
    - -mindirect-branch-register
    - -mindirect-branch=thunk-extern
    - -mskip-rax-setup
    - -mpreferred-stack-boundary=3
    - -mno-fp-ret-in-387
  Add: 
    - -mcpu=cortex-m7
    - -mthumb
    - -Wall
    - -fno-common
    - -ffunction-sections
    - -fdata-sections
    - -ffreestanding
    - -fno-builtin
    - -fno-rtti
    - -fno-exceptions
    - -mfloat-abi=hard
    - -mfpu=fpv5-d16

Diagnostics:
  Suppress: 
    - unused-includes
    - pp_file_not_found
    - init_conversion_failed
    - no_member
    - undeclared_var_use
    - typename_nested_not_found
    - no_member_template
    - pp_hash_error
    - unknown_typename
